$ q = query_param('q')

<div id="contentHead">
  <h1>$_("Search Bulk")</h1>
</div>

<div id="contentBody">
  $:macros.SearchNavigation()
  <div class="section">
    <form class="siteSearch olform" action="">
      <input type="text" class="larger" name="q" size="100" value="$q" />
      <button type="submit" class="larger">$_('Search')</button>
    </form>
  </div>

  <textarea id="text"></textarea>
  <br />
  
  <label>Format: <select id="regex">
    <!-- order matters and is referenced in JS, useSample! -->
    <option value="/(^|>)(?<title>[A-Za-z][A-Za-z0-9\- ,]{1,250})\s+(by|[-–—])\s+(?<author>[A-Za-z][A-Za-z\.\- ]{3,70})( \(.*)?($|<\/)/gm">e.g. "The Wizard of Oz by L. Frank Baum"</option>
    <option value="/^(?<title>[A-Za-z].{1,250})\s\(?<author>(.{3,70})\)$$/gm">e.g. "The Wizard of Oz (L. Frank Baum)"</option>
    <option value="/^(?<author>[^.()]+).*?\)\. (?<title>[^.]+)/gm">Wikipedia Citation (e.g. Baum, Frank L. (1994). The Wizard of Oz)</option>
    <option value="ai">✨ AI Extraction</option>
  </select></label>
  <label>Sample Data: <select id="sample-data" onchange="useSample()">
    <option>Choose sample...</option>
    <option value="sample-data--ted-78">TED’s 2018 winter reading list</option>
    <option value="sample-data--gr-1995">GoodRead's best books of 1995</option>
    <option value="sample-data--holocaust-wp">Holocaust Wikipedia citations</option>
  </select></label>
  <label>
    <input id="use-author" type="checkbox" checked/> Use author in search query
  </label>
  <label>
    <input id="is-list" type="checkbox"/> Input is a list of books (i.e. each line is a book)
  </label>
  <br>
  <button onclick="extractBooks()">Extract Books</button>
  <button onclick="matchBooks()">Match Books</button>
</div>
</details>

<hr>

<table id="results">
<thead>
  <tr>
    <th>i</th>
    <th style="min-width: 200px">Title</th>
    <th style="min-width: 200px">Author</th>
    <th style="width: 100%">Matches</th>
  </tr>
</thead>
<tbody></tbody>
<tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="#" target="_blank" id="listMakerLink">Create list of first matches</a></td>
  </tr>
</tfoot>
</table>
</div>
